body{
    background-image: url('back.jpg');
    background-size: 100% 700px;
    
    z-index: 2;
    opacity: 1;
}

#q1{
    margin-top: 5%;
    font-size: 1cm;  
    text-transform: uppercase;
    z-index: 1;
    opacity: 1;
}
#q2{
    margin: auto;
    font-size: 3cm;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    opacity: 1;
    z-index: 1;
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:0; */
    margin-top: 25%;
    padding:0 20px;
    color: black;
/*     
    text-shadow: 0 0 20px rgb(0, 0, 0); */
}

#anime{
    margin-top:7%;
    margin-left: 70%;
    position: absolute;
    opacity: 1;
    z-index: 1;
    width:200px;
}
#anime2{
    margin-left: 25%;
    margin-top: 10%;
    position: absolute;
    opacity: 1;
    z-index: 1;
    width: 150px;
}
#back{
    z-index: -3;
    opacity: .4;
    position: absolute;
    height: 500px;
    width: 50%;
    display: flex;
    margin-left: 300px;
}
