*{
  margin: 0;
  padding: 0;
}
.slideshow-container {
  width: 100%;
}
.slider {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mySlides {
  display: none;
  overflow: hidden;
}
/* .mySlides :not(.numbertext) {
  text-align: center;
} */
.mySlides img{
  border-radius: 10px;
  width: 100%;
}
.numbertext {
  position: absolute;
  color: #f2f2f2;
  font-size: 20px;
}
.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  position: absolute;
  color: #f77d0b;
  /* font-size: 2.0em; */
  font-size: clamp(1.5rem, 2.0774rem, 2.625rem);
  padding: 10px 18.5%;
}

/* Next & previous buttons */

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  cursor: pointer;
}
/* Position the "next button" to the right */
.next {
  right: 20%;
  border-radius: 5px 0px 0 5px;
}
.prev {
  left: 20%;
  border-radius: 0 5px 5px 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.container {
  margin: 5% 5px;
  padding: 30px 0;
  background-color: #bbbbbb9f;
}
.container h1{
  font-size: 40px;
  text-align: center;
}
.container p{
  text-align: center;
}
.container a{
  text-decoration: none;
  font-size: 20px;
  background-color: #717171;
  color: #f2f2f2;
  padding: 10px 30px;
  border: 2px solid #717171;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  transition: .2s;
}
.container a:hover{
  background:transparent;
  border: 2px solid #717171;
  color: black;
}
.pets-grid {
  margin: 20px 0;
  width: 100%;
}
.pets-grid .pet-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pets-grid .pet-img img{
  margin: 10px 2%;
  width: 15%;
}

@media only screen and (max-width:600px){
  .container h1{
    font-size: 30px;
  }
  .container a{
    font-size: 14px;
    padding: 8px 15px;
  }
}



/*---------- footer -----------*/
#footer {
  width: 100%;
  background-color: rgb(46, 46, 46);
}
.footer {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}
.footer p{
  color: #f2f2f2;
  font-size: 16px;
  text-align: center;
}