
*{
    margin: 0;
    padding: 0;
}
.main {
    margin: auto;
    text-align: center;
    width: 100%;
}

#logo {
    display: block;
    margin: 10px auto;
    height: 250px;
}

fieldset {
    margin: auto;
    margin-top: 10px;
    border: none;
    border-top: 20px solid #999;
    padding-top: 25px;
    width: 100%;
}


h1 {
    font-size: 3em;
    letter-spacing: 0.4em;
}

p {
    font-size: 2em;
    margin-top: 20px;
    padding: 10px;
}





