*{
    margin: 0;
    padding: 0;
}
.training{
    background-color: rgb(238, 253, 248);
    width: 100%;
    display: flex;
}
.training .left{
    width: 50%;
}
.training .left img{
    width: 80%;
    filter: drop-shadow(1px 20px 5px black);
    transition: all 0.5s;
}
.training .left img:hover{
    filter: drop-shadow(1px 25px 5px black);
    transform: translateY(-10px);
}
.training .right{
    position: relative;
    width: 50%;
}
.training .right h1{
    font-size: 35px;
    color: #303030;
    padding: 20px 0;
}
.training .right p{
    font-size: 18px;
    padding: 20px 0;
}
.right-btm{
    /* padding: 5px;  */
}
.r-btm {
    display: flex; 
}

.r-btm img{
    width: 100px;
    transition: transform .5s;
}
.r-btm img:hover{
    transform: scale(1.1);
}
.r-btm p{
    margin-top: 20px;
}

.enquiry{
    margin-top: 50px;
}
.enquiry button{
    font-size: 20px;
    width: 300px;
    height: 50px;
    background-color: rgb(242, 245, 247);
    border-radius: 30px;
    box-shadow: 5px 5px 10px #b9acac;
    cursor: pointer;
}
.enquiry a{
    text-decoration: none;
    color: #303030;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.enquiry button:hover{
    font-size: 21px;
    color: white;
    background-color: #837e7e;
    border: none;
}
.dog-train{
    margin-top: 0;
    background-color: rgb(238, 253, 248);
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgb(238, 253, 248);
}
.dog-train h1{
    margin-top: 30px;
    font-size: 40px;
    padding-top: 30px;
}
.dog-train p{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dog-train img{
    width: 300px;
}

.pets{
    margin: 10px;
    transition: all .5s;
}
.pets img{
    margin: 50px 50px;
}
.pets:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 20px 5px black);
}