*{
    margin: 0;
    padding: 0;
}
.services{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
.services h1{
    font-size: 50px;
    text-decoration: underline rgb(255, 94, 0);
    color: #ffffff;
}

.services p{
    font-size: 20px;
    margin: 30px 0;
    color: #ffffff;
}
.container {
    width: 100%;
}
.container-items{
    /* width: 100%; */
    display: flex;
    margin: 30px 20px;
    background-color: rgb(250, 244, 235);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #ff9b19;
}
/* .container-items .discription{
    width: 100%;
} */
.container-items img{
    padding: 30px 10px;
    width: 30%;
}
.container-items p{
    font-size: 20px;
    margin: 30px 20px;
}
.container-items h1{
    margin: 40px 20px;
}
